<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My First Suite" >
<test name="My First Testcase1" >
<classes>
<class name="com.test.demo.testrunner.TestRunner"/>

</classes>
</test>
<test name="My First Testcase2" >
<classes>
<class name="com.test.demo.testrunner.TestRunnerHome"/>

</classes>
</test>
</suite>
